<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Color Settings</string>
        </dict>
		<dict>
			<key>cell</key>                          <string>PSSegmentCell</string>
			<key>cellClass</key>                     <string>MEVOSegment</string>
			<key>default</key>                       <string>background</string>
			<key>defaults</key>                      <string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>                           <string>notificationMode</string>
			<key>refresh</key>                       <true/>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Text</string>
					<string>Background</string>
				</array>
			<key>validValues</key>
				<array>
					<string>none</string>
					<string>text</string>
					<string>background</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>notificationAutoColor</string>
			<key>label</key>					<string>Automatic Color</string>
			<key>refresh</key>                  <true/>
		</dict>
		<dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>CozyColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.cozybadgesprefs</string>
            <key>key</key>                      <string>notificationColor</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Manual Color</string>
			<key>dependsNot</key>               <string>notificationAutoColor</string>
        </dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Text Replacement</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>nameEnabled</string>
			<key>label</key>					<string>Enabled</string>
			<key>refresh</key>                  <true/>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSEditTextCell</string>
			<key>default</key> 					<string></string>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>placeholder</key> 				<string>@ Message</string>
			<key>key</key> 						<string>nameSingular</string>
			<key>label</key> 					<string>Singular:</string>
			<key>depends</key>                  <string>nameEnabled</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSEditTextCell</string>
			<key>default</key> 					<string></string>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>placeholder</key> 				<string>@ Messages</string>
			<key>key</key> 						<string>namePlural</string>
			<key>label</key> 					<string>Plural:</string>
			<key>depends</key>                  <string>nameEnabled</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSLinkCell</string>
			<key>cellClass</key>                <string>CozyButton</string>
			<key>isController</key>             <true/>
            <key>detail</key>                   <string>CozyPerAppSettings</string>
			<key>label</key> 					<string>Per-App Settings</string>
			<key>depends</key>                  <string>nameEnabled</string>
		</dict>
		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>footerText</key>               <string>Use @ as a placeholder for the number of notifications.</string>
			<key>footerAlignment</key>          <string>1</string>
			<key>depends</key>                  <string>nameEnabled</string>
        </dict>

	</array>
	<key>title</key>
	<string>Labels with Notification</string>
</dict>
</plist>
