<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>						<string>PSGroupCell</string>
			<key>headerCellClass</key>			<string>CozBadLogo</string>
 		</dict>
 		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
        </dict>

		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>enabled</string>
			<key>label</key>					<string>Enabled</string>
		</dict>
		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>General Options</string>
			<key>footerText</key>				<string>Label Offset - Moves the labels up or down.</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>hideLabels</string>
			<key>label</key>					<string>Hide Labels</string>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSliderCell</string>
			<key>cellClass</key>                <string>CozySlider</string>
			<key>min</key>                      <real>-30</real>
			<key>max</key>						<real>30</real>
			<key>showValue</key>				<true/>
			<key>default</key>					<real>0</real>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>labelOffset</string>
		</dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
			<key>label</key>					<string>Dock Options</string>
            <key>footerText</key>				<string>Dock Label Offset - Moves the dock labels up or down.</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>dockEnabled</string>
			<key>label</key>					<string>Enable in Dock</string>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>dockHideLabels</string>
			<key>id</key>						<string>dockHideLabels</string>
			<key>label</key>					<string>Hide Dock Labels</string>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSliderCell</string>
			<key>cellClass</key>                <string>CozySlider</string>
			<key>min</key>                      <real>-30</real>
			<key>max</key>						<real>30</real>
			<key>showValue</key>				<true/>
			<key>default</key>					<real>0</real>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>labelOffsetDock</string>
		</dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Background Color</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>backgroundEnabled</string>
			<key>id</key> 						<string>backgroundEnabled</string>
			<key>set</key> 						<string>setBackgroundEnabled:specifier:</string>
			<key>label</key>					<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>backgroundAutoColor</string>
			<key>label</key>					<string>Automatic Color</string>
		</dict>
		<dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>CozyColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.cozybadgesprefs</string>
            <key>key</key>                      <string>backgroundColor</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Manual Color</string>
        </dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Text Color</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>textEnabled</string>
			<key>id</key> 						<string>textEnabled</string>
			<key>set</key> 						<string>setTextEnabled:specifier:</string>
			<key>label</key>					<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>textAutoColor</string>
			<key>label</key>					<string>Automatic Color</string>
		</dict>
		<dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>CozyColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.cozybadgesprefs</string>
            <key>key</key>                      <string>textColor</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Manual Color</string>
        </dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Text Replacement</string>
            <key>footerText</key>               <string>Use @ as a placeholder for the number of notifications.</string>
        </dict>
        <dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>cellClass</key>                <string>CozyToggle</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>key</key>						<string>nameEnabled</string>
			<key>label</key>					<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSEditTextCell</string>
			<key>default</key> 					<string></string>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>placeholder</key> 				<string>@ Message</string>
			<key>key</key> 						<string>nameSingular</string>
			<key>label</key> 					<string>Singular:</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSEditTextCell</string>
			<key>default</key> 					<string></string>
			<key>defaults</key>					<string>com.noisyflake.cozybadgesprefs</string>
			<key>placeholder</key> 				<string>@ Messages</string>
			<key>key</key> 						<string>namePlural</string>
			<key>label</key> 					<string>Plural:</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSLinkCell</string>
			<key>cellClass</key>                <string>CozyButton</string>
			<key>isController</key>             <true/>
            <key>detail</key>                   <string>CozyPerAppSettings</string>
			<key>label</key> 					<string>Per-App Settings</string>
		</dict>

		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>footerText</key> 				<string>Developed with ♥ by NoisyFlake</string>
			<key>footerAlignment</key> 			<string>1</string>
        </dict>

	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
